In [1]:
import pandas as pd

In [2]:
DadosBrutos = pd.read_csv('DadosBrutos.csv')

In [5]:
DadosBrutos

,modelo,combustivel,cor,ano,km,valor
0,FIAT STRADA RANCH CD 1.3 AT 2023,FLEX,PRETO,2023,0.000,"R$139.800,00"
1,FIAT STRADA VOLCANO 1.3 CD 2023,FLEX,VERMELHO,2023,18.000,"R$119.800,00"
2,RENAULT KWID ZEN 2 2023,FLEX,BRANCO,2023,32.448,"R$66.900,00"
3,TOYOTA COROLLA XEI 2.0L FFV CVT 2023,FLEX,VERMELHO,2023,14.250,"R$141.990,00"
4,CHEVROLET ONIX PLUS 10MT LT2 2023,FLEX,PRATA,2023,0.000,"R$84.990,00"
...,...,...,...,...,...,...
4173,FORD RURAL WILLYS 1967,GASOLINA,AMARELO,1967,54.000,"R$74.890,00"
4174,VOLKSWAGEN FUSCA 1200 2P 1965,GASOLINA,VERDE,1965,15.600,"R$29.990,00"
4175,VOLKSWAGEN FUSCA 1300 1965,GASOLINA,BRANCO,1965,17.363,"R$30.900,00"
4176,WILLYS AERO WILLYS 1961,GASOLINA,BRANCO,1961,345.700,"R$280.000,00"
4177,LOTUS - NÃS COMPRAMOS SEU CARRO 0,FLEX,BRANCO,0,0.000,R$Consulte